h1{
    text-align: center;
}

.container{
    
    width: 50%;
    margin:auto;
    border: solid black 3px;
    background-color: azures;
}
input,label
{
   display: block;
   
}
input{
    margin-bottom: 0.5rem;
    text-align: center;
}

#check-btn{
    display: block;
    margin-top:0.5rem;
    margin:auto;
    text-decoration: black;
    

}

body{
    background-color: lightblue;
    text-align: center;
    color:black;
    
}
#date-of-birth{
    align-self: center;
    border: solid black 2px;
    display: block;

}

#lucky-number{
    align-self: center;
    border: solid black 2px;
}
.column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    background-color: azure;
}